{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - GuffGaf</title>
     <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Same+One&family=Inter:wght@400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body class="contact-page">
    <div class="contact-container">
        <div class="logo-small">
            <img src="{% static 'images/logo-dark.png' %}" alt="Logo">
        </div>
        <h1>email</h1>
        <form class="contact-form">
            <div class="input-group-icon">
                <input type="email" placeholder="your email address" required>
                <div class="icon-right">✉️</div>
            </div>

            <div class="input-group-icon">
                <input type="text" placeholder="subject" required>
                <div class="icon-right">📞</div>
            </div>

            <div class="input-group-icon">
                <textarea placeholder="content" rows="6" required></textarea>
                <div class="icon-right">✏️</div>
            </div>

            <button type="submit" class="btn-primary">send</button>

            <p class="terms-text"><a href="#">upload privacy</a> | <a href="#">terms</a><br><a href="#">or contact
                    us</a></p>
        </form>
    </div>
</body>

</html>