{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - GuffGaf</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}" defer></script>
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Same+One&family=Inter:wght@400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body class="auth-page">
    <div class="auth-container">
        <div class="logo-small">
            <a href="{% url 'landing' %}"><img src="{% static 'images/logo-dark.png' %}" alt="Logo"></a>
        </div>
        <h1>Join For Free</h1>
        <form class="auth-form" id="signup-form" method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <div id="signup-error" class="error-box"></div>
            <input type="text" placeholder="username" name="username" id="username" required>
            <input type="text" placeholder="+977 9800000000" name="phone" id="phone" required>
            <input type="password" placeholder="password" name="password" id="password" required>
            <input type="password" placeholder="re-enter password" name="confirmed_password" id="confirmed_password"
                required>

            <div class="creator-choice">
                <input type="checkbox" name="is_creator" id="is_creator">
                <label for="is_creator">I am a content creator</label>
            </div>

            <div class="form-footer">
                <a href="{% url 'login' %}" class="forgot-password">already have an account? login</a>
            </div>

            <button type="submit" class="btn-primary">sign up</button>
            <p class="terms-text">By joining you agree to our<br><a href="#">Terms of Service</a> and <a
                    href="#">Privacy Policy</a></p>
            <p class="footer"> &#169; GuffGaf 2026</p>
        </form>
    </div>
</body>

</html>